<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ncu.zww.imserver.mapper.UserMapper">
    <!--public User getUserById(String id);
    public void insertUser(User user);-->

    <select id="getAccount" resultType="Integer">
        select ifnull(max(account),0) as account from user where email = #{email}
    </select>

    <select id="getUserByAccount" resultType="edu.ncu.zww.imserver.bean.User">
      select * from user where account = #{account};
    </select>

    <select id="login" resultType="Integer">
        SELECT COUNT(*) FROM user
        <where>
            <if test="account!=0">
                AND account = #{account}
            </if>
            <if test="password!=null">
                AND password = #{password}
            </if>
        </where>
    </select>

    <select id="getFriends" parameterType="Integer" resultType="edu.ncu.zww.imserver.bean.User">
        select * from t${account}
    </select>

    <insert id="insertUser">
        insert into user(account,name,email,password,isOnline,img,sex,groups,ip,port)
        values (#{account},#{name},#{email},#{password},#{isOnline},#{img},#{sex},#{groups},#{ip},#{port})
    </insert>

    <update id="createTableByUserAccount" parameterType="Integer">
    	create table t${tableName} (
          account int(255) primary key not null auto_increment,
          name char(8) not null,
          remarks varchar(12),
          isOnline int (255),
          img int(255),
          sex int (255),
          groups int (255));
    </update>

</mapper>